bsl-py
adb-shell
aiohttp
aiosignal
altair
anyio
appdirs
Appium-Python-Client
argon2-cffi
asgiref
astor
astroid
async-generator
async-timeout
atomicwrites
attrs
backcall
backoff
base58
bcrypt
bleach
blinker
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
colorama
colored
coloredlogs
commonmark
cryptography
cx-Freeze
cx-Logging
cycler
dataclasses
debugpy
decorator
deepmerge
defusedxml
desert
dill
entrypoints
fastapi
Flask
fonttools
frozenlist
future
geoip2
gitdb
GitPython
gunicorn
h11
humanfriendly
humanize
idna
ifaddr
importlib-metadata
iniconfig
iOSbackup
ipykernel
ipython
ipython-genutils
ipywidgets
isort
itsdangerous
jedi
Jinja2
jmespath
joblib
jsonc-parser
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lazy-object-proxy
libusb1
MarkupSafe
marshmallow
marshmallow-dataclass
matplotlib
matplotlib-inline
maxminddb
mccabe
mediapipe
mistune
more-itertools
multidict
mvt
mypy-extensions
nbclient
nbconvert
nbformat
nest-asyncio
netaddr
netdisco
netifaces
nltk
notebook
NSKeyedUnArchiver
numpy
opencv-contrib-python
opencv-python
outcome
packaging
pagurus
pandas
pandocfilters
paramiko
parso
pickleshare
Pillow
platformdirs
pluggy
prettytable
prodict
prometheus-client
prompt-toolkit
protobuf
psutil
py
pyarrow
pyasn1
pycparser
pycryptodome
pydantic
pydeck
pygame
pygit2
Pygments
pylink-square
pylint
PyNaCl
pynrfjprog
pyOpenSSL
pyparsing
pyreadline3
pyrsistent
pyserial
PySocks
pytailf
pytest
pytest-csv
pytest-dependency
pytest-random-order
pytest-repeat
pytest-testrail
pytest_check
python-dateutil
python-slugify
pytz
pywin32
pywinpty
PyYAML
pyzmq
regex
requests
rich
rsa
s3transfer
scapy
scikit-learn
scipy
seaborn
selenium
Send2Trash
simplejson
six
smmap
sniffio
sortedcontainers
starlette
streamlit
terminado
testpath
text-unidecode
textblob
threadpoolctl
tld
toml
tomli
tomlkit
toolz
torch
torchvision
tornado
tqdm
traitlets
trio
trio-websocket
ttkthemes
typeguard
typing-extensions
typing-inspect
tzlocal
urllib3
uvicorn
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wincertstore
wordcloud
wrapt
wsproto
yarl
zeroconf
zipp
